<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banjjok.mapper.PetSitterMapper">
<sql id="baseColumn">
	SITTER_ID, SITTER_PW, SITTER_NAME, SITTER_IMG, SITTER_PH, SITTER_OFF, SITTER_ENTER, SITTER_REG, SITTER_LEAVE, SITTER_USE
</sql>
<sql id="baseColumn2">
	SITTER_ID sitterId, SITTER_PW sitterPw, SITTER_NAME sitterName, SITTER_IMG sitterImg, SITTER_PH sitterPh, SITTER_OFF sitterOff, SITTER_ENTER sitterEnter, SITTER_REG sitterReg, SITTER_LEAVE sitterLeave, SITTER_USE sitterUser
</sql>
<insert id="insertSitter" parameterType="banjjok.domain.PetSitterDTO">
	insert into pet_sitter ( <include refid="baseColumn" /> )
	values ( #{sitterId}, #{sitterPw}, #{sitterName}, #{sitterImg}, #{sitterPh}, #{sitterOff}, #{sitterEnter}, sysdate, null, '1' )
</insert>
<select id="getSitterList" parameterType="banjjok.domain.PetSitterDTO" resultType="banjjok.domain.PetSitterDTO">
	select *
	from(
		select ROWNUM RN, <include refid="baseColumn2" />
		from (
			select <include refid="baseColumn" />
			from pet_sitter
			<trim prefix="where" prefixOverrides="AND | OR">
				<if test="sitterId != null">
					SITTER_ID = #{sitterId}
				</if>
				and SITTER_USE = '1' 
			</trim>
			order by SITTER_ENTER DESC
		)
	)
	
</select>
<update id="updateSitter" parameterType="banjjok.domain.PetSitterDTO">
	update pet_sitter 
	set SITTER_NAME=#{sitterName}, SITTER_IMG=#{sitterImg}, SITTER_PH=#{sitterPh}, SITTER_OFF=#{sitterOff}
	where SITTER_ID = #{sitterId}
</update>
<!-- <delete id="sitterDel" parameterType="banjjok.domain.PetSitterDTO"> -->
<!-- 	delete from pet_sitter -->
<!-- 	where SITTER_ID = #{sitterId} -->
<!-- </delete> -->
<update id="sitterDel" parameterType="banjjok.domain.PetSitterDTO">
	update pet_sitter 
	set SITTER_USE = '2'
	where SITTER_ID = #{sitterId}
</update>
</mapper>
