<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banjjok.mapper.RoomMapper">
<sql id="baseColumn">
	ROOM_CODE, ROOM_NAME, ROOM_IMG, ROOM_PRICE, ROOM_DESC, ROOM_PW, ROOM_USE
</sql>
<sql id="baseColumn2">
	ROOM_CODE roomCode, ROOM_NAME roomName, ROOM_IMG roomImg, ROOM_PRICE roomPrice, ROOM_DESC roomDesc, ROOM_PW roomPw, ROOM_USE roomUse
</sql>
<sql id="subQuery">
	select  CONCAT(ROOM_NAME, LPAD(ROOM_SEQ.NEXTVAL, 3, 0)) from ROOM
</sql>
<select id="createCode" resultType="string">
	select  to_char(sysdate,'YYMMDD') || LPAD(ROOM_SEQ.NEXTVAL, 3, 0) 
	from DUAL
</select>
<insert id="insertRoom" parameterType="banjjok.domain.RoomDTO">
	insert into ROOM ( <include refid="baseColumn" />  )
	values( #{roomCode}, #{roomName}, #{roomImg}, #{roomPrice}, #{roomDesc}, #{roomPw}, '1' )
</insert>
<select id="getRoomList" parameterType="banjjok.domain.RoomDTO" resultType="banjjok.domain.RoomDTO">
	select * 
	from( select ROWNUM RN, <include refid="baseColumn2" /> 
		from ( select <include refid="baseColumn" />
				from ROOM
			<trim prefix="where" prefixOverrides="AND | OR">
				<if test="roomCode != null">
					ROOM_CODE = #{roomCode}
				</if> 
				<if test="roomName != null">
					and ROOM_NAME = #{roomName}
				</if>
				and ROOM_USE = '1' 
			</trim>
			order by ROOM_CODE DESC
			)
		)
</select>
<update id="updateRoom" parameterType="banjjok.domain.RoomDTO" >
	update ROOM
	set ROOM_IMG = #{roomImg}, ROOM_PRICE = #{roomPrice}, ROOM_DESC = #{roomDesc}
	where ROOM_NAME = #{roomName}
</update>
<update id="roomDel" parameterType="banjjok.domain.RoomDTO" >
	update ROOM
	set ROOM_USE = '2'
	where ROOM_NAME = #{roomName}
</update>
</mapper>