<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banjjok.mapper.StyleMapper">
<sql id="column">
	STYLE_CODE ,DESN_ID, STYLE_CATEG, STYLE_NAME, STYLE_LENGTH, STYLE_CURLY, STYLE_DESC, STYLE_IMG, reg_date, style_use
</sql>
<sql id="select">
	STYLE_CODE STYLECODE ,DESN_ID DESNID, STYLE_CATEG STYLECATEG, STYLE_NAME STYLENAME, STYLE_LENGTH STYLELENGTH, 
	STYLE_CURLY STYLECURLY, STYLE_DESC STYLEDESC, STYLE_IMG STYLEIMG, reg_date regdate, style_use styleuse
</sql>
<select id="getCode" resultType="string">
	select to_char(sysdate, 'YYMMDD') || lpad(styleBook_seq.NEXTVAL,3,0) from dual
</select>
<insert id="insert" parameterType="banjjok.domain.StyleDTO">
	insert into stylebook (<include refid="column" />)
	values(#{styleCode}, #{desnId}, #{styleCateg}, #{styleName}, #{styleLength}, #{styleCurly}, #{styleDesc}, #{styleImg}, sysdate, '0')
</insert>
<select id="getStyle" parameterType="banjjok.domain.StyleDTO" resultType="banjjok.domain.StyleDTO">
	select <include refid="select" />
	from stylebook
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="desnId != null">
			and desn_id = #{desnId}
		</if>
		<if test="styleCode != null">
			and style_code = #{styleCode}
		</if>
	</trim>
	order by reg_date desc
</select>
<select id="getStyleInfo" parameterType="banjjok.domain.StyleInfoDTO" resultType="banjjok.domain.StyleInfoDTO">
	select style_code styleCode, st.desn_id desnId, desn_name desnName, desn_use desnUse, desn_img desnimg, style_name styleName, style_Length stylelength, style_curly stylecurly, style_desc styledesc, style_img styleimg
	from stylebook st, designer des
	where st.desn_id = des.desn_id
	<if test="desnId != null"> and st.desn_id = #{desnId}</if>
	<if test="styleCode != null"> and st.style_code = #{styleCode}</if>
</select>
<update id="update" parameterType="banjjok.domain.StyleInfoDTO" >
	update stylebook
	set STYLE_CATEG = #{styleCateg}, STYLE_NAME = #{styleName}, STYLE_LENGTH = #{styleLength}, STYLE_CURLY = #{styleCurly}, STYLE_DESC = #{styleDesc}, STYLE_IMG = #{styleImg}
	where style_code = #{styleCode}
</update>
<update id="delete" parameterType="banjjok.domain.StyleInfoDTO" >
	update stylebook
	set style_use = '1'
	where style_code = #{styleCode} and desn_id = #{desnId}
</update>
</mapper>