@charset "UTF-8";
.content {
  margin: 0 auto 100px;
  width: 940px;
}

.section-area {
  margin: 30px 0;
}

.section-area::after {
  content: "";
  display: block;
  border-bottom: 1px solid #333;
  margin-top: 14px;
}

.section-area ul li {
  display: inline;
}

.section-area ul li a{
  padding-left: 30px;
  font-size: 20px;
  color: #808080;
}

.section-area ul li a:hover {
  color: #333;
  text-decoration: none;
}

.section-area ul li:first-child a{
  padding-left:  0;
}

.program-area ul li {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.program-area ul li:first-child {
  margin-top: 0;
}

.program-area li:hover {
	background: linear-gradient(to right, #f4f1de);
	opacity: 0.5;
}

.program-area ul li div{
  display: inline-block;
}

.program-area .img-area {
  width: 300px;
  height: 310px;
}

.program-area .img-area a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.program-area .img-area a img {
  width: 100%;
  height: 100%;
  display: inline-block;
  background:#8a7fab;
  border-radius: 10px;
}

.program-area .info-area {
/*   position: absolute; */
/*   top: 50%; */
/*   left: 340px; */
/*   transform: translateY(-50%); */
  padding-left: 30px;
  width: 70%;
}

.program-area .info-area .part {
  display: block;
  margin-top: 15px;
}

.program-area .info-area .part:first-child {
  margin-top : 0;
}

.info-area .part .title {
  display: inline-block;
  width: 80px;
  font-weight: 700;
  color: #3c405b;
}

.t-img {
  display: inline-block;
  width: 50px;
  line-height: 45px;
  vertical-align: middle;
  height: 50px;
  background: #8a7fab;
  border-radius: 50%;
  margin-right: 15px;
}

.info-area .part .desc {
  display: block;
  padding-bottom: 10px;
}

.btn-area {
  margin-top: 60px;
  text-align: right;
}

.btn-area a{
  border: 2px solid #81b39a;
  padding: 10px;
  border-radius: 10px;
}

.btn-area a:hover {
  background: #81b39a;
  color: #fff;
  text-decoration: none;
}

.modify-area {
/* 	position: absolute; */
/* 	right: 0; */
/* 	top: 50%; */
/* 	transform: translateY(-50%); */
}

.modify-area a {
	display: block;
	background: #f4f1de;
	width: 55px;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	border-radius: 10px;
	color: #333;
}

.modify-area a:first-child {
	background: #3c405b;
	color: #fff;
}

