@charset "UTF-8";
input:focus {outline:none;}

.member-regist-wrap{
  width: 620px;
  margin: 0 auto 100px;
  /* text-align: center; */
}

.member-regist-wrap .title {
  padding: 25px 0;
  border-bottom: 1px solid #afb8aa;
}

.member-regist-wrap .title h2{
  font-size: 32px;
  text-align: center;
  
}

form .mem-element {
  padding: 20px 0;
  font-family: 12px;
}

.mem-element .element-name {
  padding-bottom: 10px;
}

form .element-value input[type="text"], #frm .element-value input[type="password"], #frm .element-value select{
  border: none;
  width: 80%;
  border-bottom: 1px solid #dbd7ce;
  height: 40px;
}

.element-value input[type='radio'] {
/*   width: 30px; */
  /* height: 10px; */
  display:none;
}

.element-value input[type="radio"] + span{
	display: inline-block;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	width: 60px;
	line-height: 30px;
	text-align: center;
	background: #f2f2ef;
	padding: 1px;
}

.element-value input[type="radio"]:checked +span{
	background: #b0aaa0;
	color: #f2f2ef;
}

.element-value input[type='checkbox'] {
	margin-right: 10px;
} 

.element-value textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px 0;
}

.mem-element .button input{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #afb8aa;
  background: none;
  color: #535e53;
  font-weight: 600;
}

.button-wrap {
  text-align: center;
  padding-top: 15px;
}

.button-wrap input {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ede9e4;
  background: #ede9e4;
  color: #333;
  font-weight: 600;
}

.button-wrap input:hover, .button-wrap input[type=submit]:hover {
	background: #535e53;
	color: #f2f2ef;
	border: #535e53;
}

.button-wrap input[type=submit]{
  border: 1px solid #afb8aa;
  background: #afb8aa;
  color: #f2f2ef;
}

.fa-user::before{
    content:"\f007"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 10px; 
}

.fa-faw::before{
   content:"\f1b0"; 
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   padding-right: 10px;
}

.current-section {
  text-align: center;
  padding: 20px 0;
}

.current-section .pennant {
  margin-right: 40px; 
}

.image img {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #e1e1e1;
  margin: 20px 0;
}
.element-value {
  position: relative;
  overflow: hidden;

  width: 100px;
  
  height: 40px;
  border-radius: 40px;
  /* border: 1px solid #80BA8E; */
  background: none;
  /* color: #80BA8E; */
  font-weight: 600;
}
/* .element-value input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
} */
.element-value select {
	color: #808080;
	border: none;
}

.element-errors {
	color: red;
}

.certificate {
	display: none;
}